:root {
    --txt-color: #cfd8dc;
    --hover-color: #c28fba;
    --input-bg-color: rgba(255, 255, 255, 0.2);
    --box-bg-color: rgba(255, 255, 255, 0.1);
    --input-txt-color: #cac7ff;
    --form-pad: 20px;
}


body {
    font-family: 'Poppins';
    background: linear-gradient(to right, #141e30, #243b55);
    color: var(--txt-color);
    line-height: 1.6;
    margin: 0;
    overflow-x: hidden;

}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    font-size: 20px;
    padding:var(--form-pad);
    color: var(--txt-color); 

}

main {
    background: var(--box-bg-color);
    border-radius: 20px;
    padding: var(--form-pad);
    box-shadow: 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 4.2rem;
    font-weight: normal;
    margin: 0;
    padding-bottom: 150px;
}

h3 {
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    margin-top: 30px;
}

p {
    text-align: center;
    font-size: 1.6rem; 
    color: var(--txt-color);
}

.searchbar, .generic-form{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--input-bg-color);
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(140%);
    margin: 20px auto;
}

.searchbar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: var(--input-txt-color);
}

.generic-form input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    align-items: center;
    color: #b5b3e4;
    font-size: auto
}

#user_filter{
    font-size: 1.1rem;
}

.generic-form label{
    text-align: center;
    align-items: center;
}


#recommendations, 
#recommendations-tfidf, 
#recommendations-genre, 
#recommendations-tfidf-allsrch {
    margin-top: 20px;
    text-align: center;
}

#recommendations div,
#recommendations-tfidf div,
#recommendations-genre div,
#recommendations-tfidf-allsrch div{
    margin: 10px 0;
    padding: 10px;
    background: var(--box-bg-color);
    border-radius: 10px;
    font-size: 1.2rem;
}


button{
    border: none;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    padding: 10px 20px;
    background: darkslategray;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    transition: background 0.3s ease, transform 0.3s ease;;
}

button:hover {
    background-color: var(--hover-color);
    transform: scale(1.1);
}
button:active {
    transform: scale(1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.icon-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;

}

.icon-background i {
    position: absolute;
    bottom: -10%;
    color: var(--box-bg-color);
    font-size: 4rem;
    animation: float 10s infinite linear;
}

@keyframes float {
    0% {
        transform: translateY(100vh) rotate(0deg);
        opacity: 1;
    }
    
    100% {
        transform: translateY(-100vh) rotate(720deg);
        opacity: 0;
    }
    
}

.icon-background i:nth-child(1) {
    left: 10%;
    animation-duration: 8s;
}

.icon-background i:nth-child(2) {
    left: 20%;
    animation-duration: 12s;
    animation-delay: 2s;
}

.icon-background i:nth-child(3) {
    left: 30%;
    animation-duration: 10s;
    animation-delay: 3s;
}

.icon-background i:nth-child(4) {
    left: 40%;
    animation-duration: 14s;
    animation-delay: 4s;
}

.icon-background i:nth-child(5) {
    left: 50%;
    animation-duration: 11s;
    animation-delay: 5s;
}

.icon-background i:nth-child(6) {
    left: 60%;
    animation-duration: 12s;
}

.icon-background i:nth-child(7) {
    left: 70%;
    animation-duration: 13s;
    animation-delay: 5s;
}

.icon-background i:nth-child(8) {
    left: 80%;
    animation-duration: 11s;
    animation-delay: 3s;
}

.icon-background i:nth-child(9) {
    left: 90%;
    animation-duration: 12s;
    animation-delay: 4s;
}


@media (max-width: 768px) {
    .wrapper {
        padding: 10px;
        font-size: 18px;
    }
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2rem;

    }
    .searchbar input, .generic-form input {
        padding: 10px 15px;
        font-size: 18px;
    }
    button {
        width: 50px;
        height: 50px;
        font-size: 25px;

    }
}